@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  color-scheme: dark;
}

.nav-links::after {
  content: "";
  display: block;
  width: 0;
  height: 2.5px;
  background: #2639ed;
  margin: auto;
  transition: 0.5s;
  border-radius: 16px;
}

body {
  background-color: #ffffff;
}
.nav-links:hover::after {
  width: 100%;
}

.content {
  height: 135px;
  overflow: hidden;
  /* background-color: turquoise; */
}

.content__container {
  font-weight: 500;
  overflow: hidden;
  font-size: 45px;
  color: #000000;
}

.content__container__list {
  margin-top: 0;
  text-align: left;
  list-style: none;
}

.content__container__list__item {
  line-height: 55px;
  margin: 0;
}

/* * Mobile devices media query * */

/* ! for Small devices ! */

@media only screen and (max-width: 375px) {
  .content {
    height: 120px;
    overflow: hidden;
    /* background-color: turquoise; */
  }
  .content__container {
    font-weight: 500;
    overflow: hidden;
    font-size: 27px;
    color: #000000;
  }
  .content__container__list {
    margin-top: 0;
    text-align: center;
    list-style: none;
  }

  .content__container__list__item {
    line-height: 35px;
    margin: 0;
  }
}

/* ! for medium devices ! */

@media only screen and (min-width: 375px) and (max-width: 480px) {
  .content {
    height: 120px;
    overflow: hidden;
    /* background-color: turquoise; */
  }
  .content__container {
    font-weight: 500;
    overflow: hidden;
    font-size: 32px;
    color: #000000;
  }
  .content__container__list {
    margin-top: 0;
    text-align: center;
    list-style: none;
  }

  .content__container__list__item {
    line-height: 40px;
    margin: 0;
  }
}
/* ! for large devices ! */

@media only screen and (min-width: 480px) and (max-width: 768px) {
  .content {
    height: 120px;
    overflow: hidden;
    /* background-color: turquoise; */
  }
  .content__container {
    font-weight: 500;
    overflow: hidden;
    font-size: 40px;
    color: #000000;
  }
  .content__container__list {
    margin-top: 0;
    text-align: center;
    list-style: none;
  }

  .content__container__list__item {
    line-height: 48px;
    margin: 0;
  }
}

/* * Tablet devices media query * */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .content {
    height: 150px;
    overflow: hidden;
    /* background-color: turquoise; */
  }
  .content__container {
    font-weight: 500;
    overflow: hidden;
    font-size: 36px;
    color: #000000;
  }
  .content__container__list {
    margin-top: 0;
    text-align: left;
    list-style: none;
  }

  .content__container__list__item {
    line-height: 44px;
    margin: 0;
  }
}

/* * Laptop devices media query * */
/* ! for medium devices ! */

@media only screen and (min-width: 1024px) and (max-width: 1174px) {
  .content {
    height: 150px;
    overflow: hidden;
    /* background-color: turquoise; */
  }
  .content__container {
    font-weight: 500;
    overflow: hidden;
    font-size: 40px;
    color: #000000;
  }
  .content__container__list {
    margin-top: 0;
    text-align: left;
    list-style: none;
  }

  .content__container__list__item {
    line-height: 44px;
    margin: 0;
  }
}

/* ! for large devices ! */

@media only screen and (min-width: 1174px) and (max-width: 1440px) {
  .content {
    height: 150px;
    overflow: hidden;
    /* background-color: turquoise; */
  }
  .content__container {
    font-weight: 500;
    overflow: hidden;
    font-size: 42px;
    color: #000000;
  }
  .content__container__list {
    margin-top: 0;
    text-align: left;
    list-style: none;
  }

  .content__container__list__item {
    line-height: 46px;
    margin: 0;
  }
}

@keyframes change {
  0%,
  12.66%,
  100% {
    transform: translate3d(0, 0, 0);
  }
  16.66%,
  29.32% {
    transform: translate3d(0, -25%, 0);
  }
  33.32%,
  45.98% {
    transform: translate3d(0, -50%, 0);
  }
  49.98%,
  62.64% {
    transform: translate3d(0, -75%, 0);
  }
  66.64%,
  79.3% {
    transform: translate3d(0, -50%, 0);
  }
  83.3%,
  95.96% {
    transform: translate3d(0, -25%, 0);
  }
}

.content__container__list {
  animation-name: change;
  animation-duration: 16s;
  animation-iteration-count: infinite;
}

.content__container__list__item {
  animation-name: opacity;
  animation-duration: 16s;
  animation-iteration-count: infinite;
}
